# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.venv/
.env
.DS_Store
.mypy_cache/
.pytest_cache/

# Arch Linux / makepkg
pkg/
*.pkg.tar.zst
*.pkg.tar.xz
*.log
src/wisprch.egg-info/

# My Workflow
docs/
